<div class='video'>
  <%= link_to video_embed(video), class: 'fancybox iframe' do %>
    <%= image_tag(video.thumbnail_url) %>

    <div class='overlay'>
      <div class='overlay_copy'>
        <p><%= video.title%> </p>
        <p class='overlay_user'><%= video.first_person %></p> 
      </div>
    </div>

    <div class='video_title'>
      <p>plays: <%= video.played %> | likes: <%= video.likes %></p>
    </div>
  <% end %>
</div>

